<div class="container">
<ul>
  <% @lists.each do |list| %>

    <li><i class="fa fa-check-square-o"></i><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
<lt class="btn btn-danger"><%=link_to "Add New movie", lists_path%></lt>
</div>
