<div class="container">
<ul>
  <% @lists.each do |list| %>
     <li><%= list.name %></li>
      <%= link_to "See details", list_path(list), class: "btn btn-primary" %>
  <% end %>
</ul>
<%= link_to "create new list", new_list_path%>
</div>
